<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ContactListContext" providerName="System.Data.SqlClient" connectionString="Data Source=182.50.133.109; Integrated Security=False; User ID=demo-simplecontactlist-aspnet-mvc-ef; Password=60k_3Ock; Connect Timeout=15; Encrypt=False; Packet Size=4096;" />-->
    <add name="SimpleContactListEntities" connectionString="metadata=res://*/SimpleContactListModel.csdl|res://*/SimpleContactListModel.ssdl|res://*/SimpleContactListModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JIGS-PC\SQLEXPRESS_2012;initial catalog=SimpleContactList;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
